<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="/static/css/arena.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
    <script src="/static/js/arena.js" type="text/javascript"></script>
    <script src="/static/js/echarts.js" type="text/javascript"></script>
    <title>hello</title>
</head>
<body>
<p>test</p>
<input id="locate">
<button id="send" >send</button>
<button id="set_positon" >set positon</button>
<button id="move_to" >move to</button>
<div >
    <button></button>
</div>
<p></p>
<div id="map">
    <div id = "beast"></div>
    <div id="grid"></div>
</div>
<div id="dashboard" ></div>
<div id = record></div>




</body>
</html>